<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body class="wrapper">
    <main class="index">
        <section>
            todos
        </section>

        <section>
            todos helps you get things done
        </section>

        <section>
            <a href="/login">Sign in</a>
        </section>
    </main>
</body>
</html>