<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>
<body class="wrapper">
    <main>
        <div>
            todos
        </div>

        <div>
            <form action="/users/signup" method="post">
                <section>
                    Sign up
                </section>
                <section>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" autocomplete="username" required>
                </section>
                <section>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="new-password" required>
                </section>
                <button type="submit">
                    Sign up
                </button>
            </form>
        </div>

        <div>
            Already have an account? <span><a href="login">Sign in</a></span>
        </div>
    </main>
</body>
</html>